body, html {
    height: 100%;
    background-color: #F7F7F7;
    font-family: 'Times New Roman', Times, serif;
  }

.col-md-4{
    background-color: white;
}

.col-md-6{
    background-color: white;

}

#setting{
    border-style: dotted;
    border-color: rgb(42, 129, 209);
    border-width:5px; 
    border-radius: 15px;
}

#settings_box_header{
    text-align: center;
}

#diagram-header{
    text-align: center;
}

#diagram{
    border-style: dotted;
    border-color: rgb(42, 129, 209);
    border-width:5px; 
    border-radius: 15px;
}

#diag_img{
    width: 70%;
}